SRCS = \
    AppBuilder/Concepts.sgm  AppBuilder/MetaInfo.sgm  AppBuilder/book.sgm \
    AppBuilder/GEntity.sgm   AppBuilder/Ref.sgm \
    AppBuilder/Home.sgm      AppBuilder/Tasks.sgm

NAME = AppBuilder
include ../../common/help/sdlvolume.tmpl
