SRCS = \
    Appmanager/GEntity.sgm   Appmanager/TOC.sgm \
    Appmanager/Home.sgm      Appmanager/Tasks.sgm \
    Appmanager/MetaInfo.sgm  Appmanager/book.sgm \
    Appmanager/Ref.sgm

NAME = Appmanager
include ../../common/help/sdlvolume.tmpl
