SRCS = \
    Calculator/GEntity.sgm   Calculator/Ref.sgm       Calculator/book.sgm \
    Calculator/Home.sgm      Calculator/TOC.sgm \
    Calculator/MetaInfo.sgm  Calculator/Tasks.sgm

NAME = Calculator
include ../../common/help/sdlvolume.tmpl
