SRCS = \
    Calendar/Appendix.sgm  Calendar/MetaInfo.sgm  Calendar/Tasks.sgm \
    Calendar/GEntity.sgm   Calendar/Ref.sgm       Calendar/book.sgm \
    Calendar/Home.sgm      Calendar/TOC.sgm

NAME = Calendar
include ../../common/help/sdlvolume.tmpl
