SRCS = \
    CreatAct/GEntity.sgm   CreatAct/Ref.sgm       CreatAct/book.sgm \
    CreatAct/Home.sgm      CreatAct/TOC.sgm \
    CreatAct/MetaInfo.sgm  CreatAct/Tasks.sgm

NAME = CreatAct
include ../../common/help/sdlvolume.tmpl
