SRCS = \
    Filemgr/Concepts.sgm  Filemgr/Messages.sgm  Filemgr/TOC.sgm \
    Filemgr/GEntity.sgm   Filemgr/MetaInfo.sgm  Filemgr/Tasks.sgm \
    Filemgr/Home.sgm      Filemgr/Ref.sgm       Filemgr/book.sgm

NAME = Filemgr
include ../../common/help/Filemgr.tmpl
