SRCS = \
    FPanel/Appendix.sgm  FPanel/MetaInfo.sgm  FPanel/Using.sgm \
    FPanel/GEntity.sgm   FPanel/Ref.sgm       FPanel/book.sgm \
    FPanel/Home.sgm      FPanel/TOC.sgm

NAME = FPanel
include ../../common/help/sdlvolume.tmpl
