SRCS = \
    Help4Help/Appendix.sgm  Help4Help/Ref.sgm \
    Help4Help/Concepts.sgm  Help4Help/TOC.sgm \
    Help4Help/GEntity.sgm   Help4Help/Tasks.sgm \
    Help4Help/Home.sgm      Help4Help/book.sgm \
    Help4Help/MetaInfo.sgm

NAME = Help4Help
include ../../common/help/sdlvolume.tmpl
