SRCS = \
    Iconed/Concepts.sgm  Iconed/MetaInfo.sgm  Iconed/Tasks.sgm \
    Iconed/GEntity.sgm   Iconed/Ref.sgm       Iconed/book.sgm \
    Iconed/Home.sgm      Iconed/TOC.sgm

NAME = Iconed
include ../../common/help/sdlvolume.tmpl
