SRCS = \
    Intromgr/Appendix.sgm  Intromgr/Home.sgm      Intromgr/Overview.sgm \
    Intromgr/GEntity.sgm   Intromgr/Keyboard.sgm  Intromgr/Windows.sgm \
    Intromgr/Help.sgm      Intromgr/MetaInfo.sgm  Intromgr/book.sgm

NAME = Intromgr
include ../../common/help/sdlvolume.tmpl
