SRCS = \
    Loginmgr/Concepts.sgm  Loginmgr/Ref.sgm       Loginmgr/book.sgm \
    Loginmgr/Home.sgm      Loginmgr/TOC.sgm \
    Loginmgr/MetaInfo.sgm  Loginmgr/Tasks.sgm

NAME = Loginmgr
include ../../common/help/sdlvolume.tmpl
