SRCS = \
    Mailer/Messages.sgm  Mailer/TOC.sgm \
    Mailer/GEntity.sgm   Mailer/MetaInfo.sgm  Mailer/Tasks.sgm \
    Mailer/Home.sgm      Mailer/Ref.sgm       Mailer/book.sgm

NAME = Mailer
include ../../common/help/sdlvolume.tmpl
