SRCS = \
    Printmgr/GEntity.sgm   Printmgr/Ref.sgm       Printmgr/book.sgm \
    Printmgr/Home.sgm      Printmgr/TOC.sgm \
    Printmgr/MetaInfo.sgm  Printmgr/Tasks.sgm

NAME = Printmgr
include ../../common/help/sdlvolume.tmpl
