SRCS = \
    Stylemgr/Concepts.sgm  Stylemgr/MetaInfo.sgm  Stylemgr/Tasks.sgm \
    Stylemgr/GEntity.sgm   Stylemgr/Ref.sgm       Stylemgr/book.sgm \
    Stylemgr/Home.sgm      Stylemgr/TOC.sgm

NAME = Stylemgr
include ../../common/help/sdlvolume.tmpl
