SRCS = \
    Terminal/GEntity.sgm   Terminal/Ref.sgm       Terminal/book.sgm \
    Terminal/Home.sgm      Terminal/TOC.sgm \
    Terminal/MetaInfo.sgm  Terminal/Tasks.sgm

NAME = Terminal
include ../../common/help/sdlvolume.tmpl
