SRCS = \
    Textedit/GEntity.sgm   Textedit/Ref.sgm       Textedit/book.sgm \
    Textedit/Home.sgm      Textedit/TOC.sgm \
    Textedit/MetaInfo.sgm  Textedit/Tasks.sgm

NAME = Textedit
include ../../common/help/sdlvolume.tmpl
